<a href="https://colab.research.google.com/github/Niitesh122/Niitesh-IBP-Assignment_2023/blob/main/Development_Notebook__19623085.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> **Connection To Database**

In [ ]:
#Download of Enron mail dataset
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1

#establish connection with database
conn = sqlite3.connect("enron.db")

**Imports Of Libraries**

In [ ]:
#Necessary Libraries
import sqlite3 #import module for connection to database
import pandas as pd #import the pandas library for data manipulation
import seaborn as sns #import the seaborn library for statical data visualisation
import matplotlib.pyplot as plt #import matplotlib library for creating plots and visualisation

**Pseudocode**

In [ ]:
#Importing the sqlite3 library enables interaction with and connection to the database.
#Importing the pandas library offers strong facilities for data analisys and manipulation and provide functions for working with structured data such as Dataframs.
#Importing the seaborn library enables to produce visually appealing and educational statictics visuals also making several kinds of plots.
#Importing the matplotlib library allows building visualisation in Python such as line plots, pie chart, bar chart.

**Extraction Of Tables From Database**

In [ ]:
#create cursor object
cur = conn.cursor()

#retrieve names of tables in the database
sql = """
SELECT name 
FROM sqlite_master
WHERE type = "table";
"""
cur.execute(sql)
cur.fetchall()

**Pseudocode**

In [ ]:
# Use the cursor object cur.execute(sql) to execute the SQL query.
#The "sql" variable's SQL query picks the "name" column out of the "sqlite_master" table.
# Only rows having the "type" column equal to "table" should be returned, which filters the results.

# To receive all of the rows returned by the query, the "fetchall" method is called on the cursor object "cur".
# Typically, the fetched result is returned as a list of tuples, each of which stands for a row of data.

**Extraction Of Data **

In [ ]:
employee = SELECT * from employeelist; # Execute the following query to get all data from the "employeelist" table.
message = SELECT * from message; # Request for all data from the "message" table
recipient_info = SELECT * FROM Recipientinfo;  # Execute the following query to get all data from the "Recipientinfo" table.
reference_info = SELECT * FROM Referenceinfo; # Execute the following query to get all data from the "Referenceinfo" table.

**Pseudocode**

In [ ]:
Get all of the information from the "employeelist" database.
Take everything out of the "message" table.
Take all information out of the "Recipientinfo" table.
Take everything out of the "Referenceinfo" table.

Data Analysis

In [ ]:
# Load the data into DataFrame
employees_df = pd.read_sql_query(sql, conn)
employees_df

# Load the data into a DataFrame
message_df = pd.read_sql_query(sql, conn)
message_df

# Execute the SQL query and store the results in a DataFrame
recipients_df = pd.read_sql_query(sql, conn)

# Print the resulting DataFrame
recipients_df

# Execute the SQL query and store the results in a DataFrame
references_df = pd.read_sql_query(sql, conn)

# Print the resulting DataFrame
references_df

**Pseudocode**

In [ ]:
Print data that has been loaded from all the SQL query into a DataFrame.